* {
    padding: 0px;
    margin: 0px;
    /* outline: solid 1px red; */
    margin: auto;
    text-align: center;
}

.container {
    margin-top: 100px;
    color: rgb(51, 46, 84);
}

.main { /*cuadro que principal*/
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.ilustracion {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 15px;
    margin-top: 15px;
}

.imagenes { 
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-flow: row wrap;
    justify-content: space-around 10xp;

}

.derecho { /* parte derecha que se enfoca en la ubicacion del titulo  */
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.izquierdo {
    margin-left: auto
}

p { /*se enfoca en los pequeños textos de la izquierda */
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    text-align: center;
}

h4 {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    margin-top: 30px;
}

.IFN {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    height: 20px;
    margin-bottom: 15px;
    
    margin-top: 15px;
}

.inicio {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.titulo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
    font-size: large;
}

.numeros{
    text-align: left;
}

.foto2{
    margin-top: 13px;
}