*{
    padding: 0px;
    margin: 0px;
    outline: solid 1px red;
}

.container{
    width: 700px;
    height: 800px;
    margin: 0px auto;
    padding: 30px;
}

.mikoyan{
    width: 700px;
    height: 200px;
}

.sukhoi{
    width: 700px;
    height: 200px;
}
