*{
    margin: 0;
    padding: 0;
    /* outline: solid 1px red; */
}

a{
    margin: 10px;
    text-decoration: none;
    color: white;
    
}

.nav{
    background-color: rgb(51,51,51);
    display: flex;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h1{
    color: white;
    font-size: 35px;
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    align-items: center;
}

.chao{
    box-shadow: 3px 3px 3px black;
    border-color: black;
    background-color:rgb(23,162,184);
    color: white;
    border: 3px;
    padding: 5px;
}