*{
    margin: 0px;
    padding: 0px;
    /* outline: solid 1px red; */
}

.container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container button{
    background-color: cyan;
    color: red;
    border-radius: 10%;
}