* {
    margin: 0px;
    padding: 0px;
    /* outline: solid 1px red; */
}


.container {
    margin: 0px auto;
    margin-top: 50px;
    width: 800px;
    border-radius: 1%;
    box-shadow: 0px 0px 5px 1px;
}
.cyan {
    background-color: rgb(66, 163, 185);
    display: flex;
    height: 120px;
}

.miniContainer{
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-flow: column;
}
.imagen img {
    height: 180px;
    margin-top: 10px;
    border: solid 5px white ;
    border-radius: 100%;
    margin: 20px;
}
.ubicacion img{
    height: 25px;

}
.row{
    display: flex; 
    height: 20px;
    margin-bottom: 10px;
}
.atributos{
    display: flex;
    flex-direction: column;
}
.nombre{
    padding: 5px;
}

p{
    font-size:  20px;

}

.confguracion{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;

    color: rgb(45,121,228);
}

.tuercaIMG{
    height: 25px;
}
