*{
    margin: 0;
    padding: 0;
    /* outline: solid 1px greenyellow; */
}
.container{
    display: flex;
    background-color: black;
    width: 800px;
    height: 800px;
    margin: auto;
}
.left{
flex:1;
/* height: 100%;
display: block; */
}

.white{
    flex: 1;
    background-color: white;    
    width: 11em;
    height: 250px;
    margin-bottom: 30px;
}

.whit2{
    background-color: rgb(255, 255, 255); 
    width: 11em;
    height: 270px;
    margin: 50px 0px 0px ;
}

.blue{
    background-color: blue;
    height: 200px;
    width: 11em;
    margin: 30px 0px 0px ;
}
.right{
flex: 3;
}
.rojo{
    background-color: red;
    width: 600px;
    height: 570.5px;
}

.owwhiten